#services .section-title {
    background-image: url("../../assets//images/bg_hero.jpg");
    background-size: cover;
    position: relative;
    z-index: 9;
}

.section-title:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffffd4;
    width: 100%;
    height: 100%;
    z-index: -1;
}