.nav_button {
  background-color: var(--main-color);
  color: white;
  border: 1px solid var(--main-color);
  padding: 10px 15px;
  border-radius: 3px;
}

nav .phoneMenu {
  transition: all 0.4s ease-in-out;
}